
RABBIT_URL=amqp://guest:guest@rabbitmq:5672
REDIS_URL=localhost:6379
REDIS_PASSWORD="PASSWD"
SMTP_ADDR=smtp.gmail.com:587
SMTP_FROM="your.address@gmail.com"
SMTP_HOST=smtp.gmail.com
SMTP_PASSWORD="PASSWD"
